Source: runbox
Section: utils
Priority: optional
Maintainer: Oliver <oliver@liuxiaozhen.dev>
Build-Depends: debhelper-compat (= 13), cargo, pkg-config, libgtk-4-dev, libadwaita-1-dev, libglib2.0-dev, libgdk-pixbuf-2.0-dev, libcairo2-dev, libpango1.0-dev, libgraphene-1.0-dev
Standards-Version: 4.6.2
Homepage: https://github.com/HelloAIXIAOJI/runbox

Package: runbox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: 谁不想急头白脸地按下 Win+R，然后在 Linux 打开运行？